* {
    font-family: "Space Mono", 'Segoe UI', Helvetica, Arial, sans-serif;
    transition: 0.25s ease;
    text-shadow: 0 0 2px rgb(25, 117, 255);
}

body {
    background-color: rgb(215, 230, 253);
    color: rgb(0, 35, 87);
    padding: 10px;
}

header {
    text-align: center;
    margin: 33px auto;
}

img {
    border: 4px solid rgb(0, 35, 87);
    box-shadow: 0 0 16px rgb(0, 102, 255);
}

header img {
    display: block;
    width: 225px;
    aspect-ratio: 1/1;
    margin: 15px auto;
    border: 6px solid rgb(0, 35, 87);
    border-radius: 50%;
    object-fit: cover;

    animation: breathe 2s ease-out infinite alternate;
}

header img:hover {
    transform: scale(1.1);
}

header button {
    display: block;
    color: rgb(0, 35, 87);
    margin: 20px auto;
    padding: 8px 16px;
    border: 2px solid rgb(0, 35, 87);
    box-shadow: 0 0 8px rgb(0, 35, 87);
    border-radius: 10px;
    cursor: pointer;

    animation: breathe 2s ease-out infinite alternate;
}

header button:hover {
    transform: scale(1.15);
}

h2 {
    text-align: center;
}

ul {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
    margin-bottom: 33px;
}

li label {
    display: block;
}

li img {
    width: 500px;
    margin: 5px;
    padding: 0;

    animation: breathe 2s ease-out infinite alternate;
}

li img:hover {
    transform: scale(1.05);
}

@keyframes breathe {
    0% {
        box-shadow: 0 0 10px rgb(0, 102, 255);
    }
    100% {
        box-shadow: 0 0 16px rgb(0, 102, 255);
    }
}

.darkMode {
    color: #ffe1f9;
    background-color: rgb(21, 7, 37);
}

.darkButton {
    color: #ffe1f9;
    background-color: rgb(40, 8, 48);
    box-shadow: 0 0 16px rgb(255, 56, 255);
    border-color: rgb(248, 169, 224);
    animation: breatheDark 2s ease-out infinite alternate;
}

.darkButton:hover {
    box-shadow: 0 0 8px white;
}

.darkProfile {
    border-color: rgb(255, 125, 216);
    box-shadow: 0 0 16px rgb(255, 0, 255);
    animation: breatheDark 2s ease-out infinite alternate;
}

.darkImages {
    border-color: rgb(255, 160, 226);
    box-shadow: 0 0 16px rgb(255, 56, 255);
    animation: breatheDark 2s ease-out infinite alternate;
}

.darkText {
    text-shadow: 0 0 3px rgb(247, 0, 255);
}

@keyframes breatheDark {
    0% {
        box-shadow: 0 0 8px rgb(255, 0, 255);
    }
    100% {
        box-shadow: 0 0 16px rgb(255, 0, 255);
    }
}

@media screen and (min-width: 600px) {
    
    
}

