* {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

header {
    text-align: center;
    margin: 0 auto;
}

header img {
    display: block;
    width: 225px;
    aspect-ratio: 1/1;
    margin: 15px auto;
    border-radius: 50%;
}

header button {
    display: block;
    margin: 15px auto;
    padding: 8px;
}

.darkMode {
    color: #FFFFFF;
    background-color: rgb(10, 6, 27);
}

